
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    background-color: #94afcc; 
    color: #FAFAFA;
    padding: 20px 50px;
    border-bottom: 5px solid ;
}

.logo{
    margin-right: 40px;
}

#system{
    height: 150px;
    width: auto;
}

.titulo{
    margin: 50px;
    font-size: 2.2em;
    font-weight: 700;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #FAFAFA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    margin: 30px 0;
}

#status-geral {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
}

.status-indicator {
    padding: 15px 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.status-indicator p {
    margin: 0 0 5px 0;
    font-weight: bold;
    font-size: 1.1em;
}

.status-value {
    font-size: 1.8em;
    font-weight: 900;
    display: block;
    padding: 5px;
    border-radius: 4px;
}

.trabalhando {
    background-color: #28a745; 
    color: white;
}

.ocioso {
    background-color: #ffc107; 
    color: #333;
}

.grid-estoque {
 display: grid;
grid-template-columns: repeat(7, 1fr) ;
gap: 10px;
}

.posicao {
    padding: 8px 3px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    color: white;
    min-height: 25px;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.vermelho { background-color: #dc3545; }
.azul { background-color: #007bff; }
.preto { background-color: #343a40; }
.vazio {
    background-color: #e9ecef;
    color: #6c757d;
    border: 1px dashed #adb5bd;
}

.lista-expedicao {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px      
}

 


.posicao-expedicao {
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.pedido-num {
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.pedido-status {
    font-style: italic;
}

.dados-ambiente {
    margin-top: 20px;
    padding: 10px;
    border: 1px dashed #adb5bd;
    border-radius: 5px;
    background-color: #e9ecef;
}
.dados-ambiente h3 {
    margin-top: 0;
    font-size: 1em;
    color: #007bff;
}

.status-nao-iniciado { 
    background-color: #6c757d; 
    color: white; 
    order: 1px solid #6c757d;
}

.status-finalizado {
     background-color: #28a745; 
     color: white; 
     border: 1px solid #28a745; 
    } 
    
.status-cancelado { 
    background-color: #dc3545; 
    color: white; 
    border: 1px solid #dc3545;
 } 

 .status-aguardando{
    background-color: #ffc107;
    color: #333;
    border: 1px solid #ffc107;
    
 }

.dados-ambiente {
    margin-top: 20px;
    padding: 10px;
    border: 1px dashed #adb5bd;
    border-radius: 5px;
    background-color: #e9ecef;
}

.detalhe-pedido{
    display: none;
     padding: 20px;
      border: 1px solid #ddd; 
    border-radius: 8px;
}
