 body {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    background-color: #f4f4f9;
 }

.login-container { 
    background-color: white; 
    padding: 40px; 
    border-radius: 10px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    width: 300px; 
    text-align: center; 
}
.login-container input { 
    width: 90%; 
    padding: 10px; 
    margin: 10px 0; 
    border: 1px solid #ccc;
     border-radius: 5px;
     }
        
.login-container button { 
    width: 100%; 
    padding: 10px; 
    background-color: #94afcc; 
    color: white; border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 1.1em; 
}
        
.login-container h2 {
     color: #333; 
     margin-bottom: 20px; 
    }
